

.TETE{
    background-color: rgb(70,101,127);
    text-align: center;
    color: white;
    
    
    
}

h3{
    color: #f5a819  ;
}


.bou1{ padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}

.bou2{

    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;

}

.bou3{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}
.bou4{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}
.bou5{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}

.bou6{    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}

.bou7{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}

.bou8{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}

.bou9{
    padding: 10px;
    border-radius: 10px;
    border: solid; 
    width: 150px;
    margin: 50px;
}


.parti1{
    display: flex;
    margin: 1px;
    justify-content: center;


}

    .parti2{
        display: flex;
        margin: 1px;
        justify-content: center;
        }

        .parti3{
            display: flex;
            margin: 1px;
            justify-content: center;
            }